body {padding: 0px;margin: 0px}

.head{background-image: url(sun.jpg);
background-repeat: no-repeat;width: 1007px;height: 380px;background-size: cover;}

.top{background-color: #454242;margin: 0px;height: 57px; 
    
  position: fixed;width: 100%;z-index: 1;}

.home {color: white;padding: 10px;text-decoration: none; background-color: #6bd99a;position: absolute;top:8px;left: 5px}

.masenger{text-decoration: none; position: absolute;top:15px;left: 836px;color: white;
padding: 5px;}
.insta {text-decoration: none; position: absolute;top:15px;left: 872px;color: white;
padding: 5px;

}
.apple {text-decoration: none; position: absolute;top:15px;left: 907px;color: white;
padding: 5px;

}
.twitter {text-decoration: none; position: absolute;top:15px;left: 942px;color: white;padding: 5px;}


.face {text-decoration: none;position: absolute;top:15px;left: 977px;color: aliceblue;
padding: 5px;

}

.masenger:hover{background-color: #676565;padding: 5px;}
.insta:hover{background-color: #676565;padding: 5px;}
.apple:hover{background-color: #676565;padding: 5px;}
.twitter:hover{background-color: #676565;padding: 5px;}
.face:hover{background-color: #676565;padding: 5px;}

.one {background-color: green;padding: 10px 10px 10px 6px;width: 67px; border-radius: 3px;color: white;margin-top: 8px; position: fixed;top:67px; left: -60px;cursor: pointer;}

.two {background-color: #3791eb;padding: 10px 10px 10px 6px;width: 67px; border-radius: 3px;color: white;margin-top: 6px; position: fixed;top: 109px; left: -60px;cursor: pointer;}

.three{background-color: #c3142f;padding: 10px 10px 10px 6px;width: 67px; border-radius: 3px;color: white;margin-top: 6px; position: fixed;top: 150px; left: -60px;cursor: pointer}

.four{background-color: #5d5c5c;padding: 10px 10px 10px 6px;width: 67px; border-radius: 3px;color: white;margin-top: 6px; position: fixed;left: -60px;;top: 191px;cursor: pointer;}

.one:hover {position: fixed;left: -1px; transition-duration: .5s;}
.two:hover {position: fixed;left: -1px; transition-duration: .5s;}
.three:hover {position: fixed;left: -1px; transition-duration: .5s;}
.four:hover {position: fixed;left: -1px; transition-duration: .5s;}

.time {font-family: tahoma;background-color: rgba(3, 65, 3, 0.57);position: absolute;top: 120px;left: 40px;width: 930px;height: 40px;padding: 20px 10px 10px 15px;color: aliceblue }

.detalis{color: aliceblue;position: absolute;top: 200px;left: 40px;width: 950px;}
.summary {padding-top: 10px}

.datalist{background-image: url(gre.jpg);background-repeat: no-repeat;background-size: cover;
    
    ;position: absolute;top: 408px;width: 1007px;height: 190px;}

input{background-color: rgba(82, 80, 80, 0.72);position: absolute;top: 40px;left: 29px;width: 900px;height: 40px;padding-left: 10px;}

.progress{background-image: url(g.jpg);background-repeat: no-repeat;background-size: cover;
    
    ;position: absolute;top: 618px;width: 1007px;height: 350px;}

.meter{ font-family: tahoma;background-color: rgba(65, 53, 3, 0.57);position: absolute;top: 70px;left: 40px;width: 900px;height: 200px;padding: 20px 10px 10px 25px;color: aliceblue  }
.meter p{}

.copyright{ background-image: url(vv.png);background-repeat: no-repeat;background-size: cover;
    
    ;position: absolute;top: 1000px;width: 1007px;height: 220px;}