.header .slider{background-image: url(sun.jpg);
background-repeat: no-repeat;width: 1007px;height: 600px;background-size: cover;}
body {}



.navbar {background-color: rgba(48, 31, 64, 0.29);color: #FFF;height: 40px;padding: .1px 0px 7px 11px;position: absolute;top: 160px;width: 995px}
.navbar ul {list-style: none;padding-left: 0px; }
.navbar ul li {display: inline;padding: 0px 10px 10px 10px;}
.a {text-decoration: none;color: #FFF;}
.a:hover{background-color:#0d0d0d;}
.insta {text-decoration: none; position: absolute;top:25px;left: 880px;color: white;
padding: 5px;

}
.apple {text-decoration: none; position: absolute;top:25px;left: 910px;color: white;
padding: 5px;

}
.twitter {text-decoration: none; position: absolute;top:25px;left: 940px;color: white;padding: 5px;}


.face {text-decoration: none;position: absolute;top:25px;left: 975px;color: aliceblue;
padding: 5px;

}

.insta:hover{background-color:black;padding: 5px;}
.apple:hover{background-color: black;padding: 5px;}
.twitter:hover{background-color: black;padding: 5px;}
.face:hover{background-color: black;padding: 5px;}


.one {float: left; height: 150px;width: 260px;margin-left: 100px;}
.two {float: left;height: 150px;width: 260px;}
.three {float: left;height: 150px;width: 260px;}

.h3{margin-left: 8px;margin-top: 10px;text-align: left;padding-left: 10px}
.p1{padding: 0px 20px 0px 20px}

.K{width: 200px;hanging-punctuation: 200px;padding: 20px;padding-bottom: 0px;padding-top: 0px}
.M{width: 200px;hanging-punctuation: 200px;padding: 20px;padding-bottom: 0px;padding-top: 0px}
.H{width: 200px;hanging-punctuation: 200px;padding: 20px;padding-bottom: 0px;padding-top: 0px}

.about {background-color: #c17e4d;position: absolute;top: 1050px;width: 1007px}
.E {height: 404px}
.mm {position: absolute;left: 280px;top:-5px}
.mn {position: absolute;left: 280px;top:25px}
.mn:hover{color: white;transition-duration: 1s}
.mm:hover{color: white;transition-duration: 1s}
.aa {position: absolute;left: 280px;top: 120px;background-color: rgba(0, 0, 0, 0.26);width: 200px;height: 100px;padding: 10px;border: 1px solid #000000;border-radius: 25px;}
.bb {position: absolute;left: 580px;top: 260px;background-color: rgba(0, 0, 0, 0.26);width: 200px;height: 100px;padding: 10px;border: 1px solid #000000;border-radius: 25px;}
.cc {position: absolute;left: 280px;top: 260px;background-color: rgba(0, 0, 0, 0.26);width: 200px;height: 100px;padding: 10px;border: 1px solid #000000;border-radius: 25px;}
.dd {position: absolute;left: 580px;top: 120px;background-color: rgba(0, 0, 0, 0.26);width: 200px;height: 100px;padding: 10px;border: 1px solid #000000;border-radius: 25px;}

.sp,.mm {color: cornsilk}

.lk {font-size: 12px;}
.ty {font-size: 12px;}
.sd {font-size: 12px;}
.rt {font-size: 12px;}

.birth{position: absolute;top: 1453px;background-color: black;width:1007px;height: 500px }
.flo { width: 300px;height: 300px; position: absolute;top:85px;left: 350px;border: 2px solid beige  }
.bir {position: absolute;top: 2px;color: beige;padding: 15px;padding-top: 0px;line-height: 25px}

.bbi { color: beige;position: absolute;top: 150px;left: 60px;font-size: 50px}
.bbo{color: beige;position: absolute;top: 150px;left: 700px;font-size: 50px}
 
.bbi:hover{color: #a20303;font-size: 55px;transition-duration: 1s;cursor: pointer}
.bbo:hover{color: #a20303;transition-duration: 1s;font-size: 55px;cursor: pointer}

.input1 {background-color: beige;border-radius: 20px;cursor: pointer;position: absolute;top: 440px;left: 270px;height: 28px}
.input2 {background-color: beige;border-radius: 20px;cursor: pointer;position: absolute;top: 440px;left: 455px;height: 28px}
.input3 {background-color: beige;border-radius: 20px;cursor: pointer;position: absolute;top: 440px;left: 600px;height: 28px}

.input1:hover{background-color: black;color: beige;}
.input2:hover{background-color: black;color: beige}
.input3:hover{background-color: black;color: beige}

.form {background-image: url(images.jpg);background-repeat: no-repeat;background-size: cover;
    
    ;position: absolute;top: 1950px;width: 1007px;height: 450px;}

.orm{position: absolute;left: 20px;color: aliceblue}
.fform1 {position: absolute;left: 20px;top: 100px;width: 290px;color: aliceblue}
.fform2 {position: absolute;left: 20px;top: 200px;width: 290px;color: aliceblue}

.tex1 {position: absolute;top: 50px;left: 490px;background-color: rgba(139, 0, 139, 0);width: 180px;padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}
.tex2 {position: absolute;top: 50px;left: 720px;background-color: rgba(139, 0, 139, 0);width: 180px;padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}

.tex3 {position: absolute;top: 120px;left: 490px;background-color: rgba(139, 0, 139, 0);width: 180px;padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}

.tex4 {position: absolute;top: 120px;left: 720px;background-color: rgba(139, 0, 139, 0);width: 180px;padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}

.tex5 {position: absolute;top: 195px;left: 490px;background-color: rgba(139, 0, 139, 0);width: 410px;padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}

.tex6 {position: absolute;top: 255px;left: 490px;background-color: rgba(139, 0, 139, 0);width: 410px;height: 100px; padding: 10px;border-width: 0px 0px 2px 0px;border-color: white;}

.tex1:hover{ border-width: 2px 2px 2px 2px;border-color: red; }
.tex2:hover{ border-width: 2px 2px 2px 2px;border-color:red; }
.tex3:hover{ border-width: 2px 2px 2px 2px;border-color: red; }
.tex4:hover{ border-width: 2px 2px 2px 2px;border-color: red; }
.tex5:hover{ border-width: 2px 2px 2px 2px;border-color: red; }
.tex6:hover{ border-width: 2px 2px 2px 2px;border-color: red; }

.last {background-color:#000000;position:  absolute;top: 2400px; width: 1007px;height: 400px;
}

fieldset { background-color: rgba(255, 255, 255, 0.68);  border: 1.5px solid black; padding: 10px 10px 10px 10px ; margin: 20px 20px 10px 20px;border-radius: 27px}
		legend { background-color: #f8f8f8;border: 1.5px solid #a85454; margin: 5px 5px 1px 5px;padding: 50px;width: 100px;border-radius: 27px;text-align: center}


.leeg {line-height: 25px;}
.leeg:first-line{background-color:rgba(0, 0, 0, 0.17);}
fieldset:hover{background-color: beige;}

